@model List<ReportesCLIN2.Models.Reporte>
@{
    ViewBag.Title = "Principal";
}




<div class="container">
    @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> @item.text </h5>
                    <p class="card-text"> @item.description </p>
                    <a href='@Url.Action("ViewReport", "Home", new { reporte = item.name })' target="_blank">
                         <span class="glyphicon glyphicon-file" aria-hidden="true">Ver informe</span>
                    </a>
                </div>
            </div>
        }
    </div>

<app-root></app-root>
