
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
            Reporte <span>@ViewBag.Reporte</span> no encontrado
    </div>
</body>
</html>
