
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderViewer</title>
</head>
<body>
      <div style="max-width:184.6mm;margin:auto;border:1px outset #656565;padding:2.54cm;">
            @Html.Raw(ViewBag.DataHTML)
       </div>
</body>
</html>
